*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgb(15, 15, 15);
    color: white;
}
.name{
    margin: 5px 30px;
    padding: 10px;
    display: inline-block;
    margin-right: 100px;
    font-size: 25px;
}
.menu-item{
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-right: 50px;
    font-size: 20px;
}